# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Private stuff
.private
.private*
.secret
.ssh/
vimwiki/

# Private -Taskwarrior
/.task/
/.taskrc

# Private - Wifi location switching
/.locations/

# Private - direnv
/.envrc*

# MacOS dirs
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Applications/

# Other stuff
/backup/
/bin/
/src/

# MacOS Shite
.CFUserTextEncoding

# All of the things
/.bash_history
/.bash_sessions/
/.config/
/.gnupg/
/.npm/
/.oh-my-vim/
/.vim*
/.Xauthority
/.cache/
/.cups/
/.rnd
/.serverauth*
/.v8flags*
